.kod{
	font-size: 25px;
	font-family: arial !important;
	color:red;
	text-align: center;
}

h1 {  
		color:gray;
	font-family: arial;
	text-align: center;

}
.png {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:50%;
	/*bu  bir yourm satırı */
	
}
body{
background: url(htc.png) no-repeat center center fixed;
background-size: cover;
}














































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































